
<div id="fileupload">
    <form action="@Url.Content("~/Areas/Assets/AmazonTransferHandler.ashx")" method="post" enctype="multipart/form-data">
        @Html.Hidden("prefixid",@ViewContext.RouteData.Values["prefixid"])
        @Html.Hidden("prefix",@ViewContext.RouteData.Values["prefix"])
        @Html.Hidden("doctype",@ViewContext.RouteData.Values["doctype"])
        @Html.Hidden("retfun",@ViewContext.RequestContext.HttpContext.Request.Params["retfun"])
                <div class="fileupload-buttonbar">
            <label class="fileinput-button">
                <span>Add files...</span>
                <input type="file" name="files[]" multiple="multiple" />
            </label>
            <button type="button" class="delete button">Delete all files</button>
			<div class="fileupload-progressbar"></div>
        </div>
    </form>
    <div class="fileupload-content">
        <table class="files"></table>
    </div>
</div>
<script id="template-upload" type="text/x-jquery-tmpl">
    <tr class="template-upload{{if error}} ui-state-error{{/if}}">
        <td class="preview"></td>
        <td class="name">${name}</td>
        <td class="size">${sizef}</td>
        {{if error}}
            <td class="error" colspan="2">Error:
                {{if error === 'maxFileSize'}}File is too big
                {{else error === 'minFileSize'}}File is too small
                {{else error === 'acceptFileTypes'}}Filetype not allowed
                {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
                {{else}}${error}
                {{/if}}
            </td>
        {{else}}
            <td class="progress"><div></div></td>
            <td class="start"><button>Start</button></td>
        {{/if}}
        <td class="cancel"><button>Cancel</button></td>
    </tr>
</script>
<script id="template-download" type="text/x-jquery-tmpl">
    <tr class="template-download{{if error}} ui-state-error{{/if}}">
        {{if error}}
            <td></td>
            <td class="name">${name}</td>
            <td class="size">${sizef}</td>
            <td class="error" colspan="2">Error:
                {{if error === 1}}File exceeds upload_max_filesize (php.ini directive)
                {{else error === 2}}File exceeds MAX_FILE_SIZE (HTML form directive)
                {{else error === 3}}File was only partially uploaded
                {{else error === 4}}No File was uploaded
                {{else error === 5}}Missing a temporary folder
                {{else error === 6}}Failed to write file to disk
                {{else error === 7}}File upload stopped by extension
                {{else error === 'maxFileSize'}}File is too big
                {{else error === 'minFileSize'}}File is too small
                {{else error === 'acceptFileTypes'}}Filetype not allowed
                {{else error === 'maxNumberOfFiles'}}Max number of files exceeded
                {{else error === 'uploadedBytes'}}Uploaded bytes exceed file size
                {{else error === 'emptyResult'}}Empty file upload result
                {{else}}${error}
                {{/if}}
            </td>
        {{else}}
            <td class="chooser">
                <button onclick="imgSelected(JSON.stringify({'name':'${name}','url':'${url}','thumburl':'${thumbnail_url}','size':'${sizef}','width':'${imgheight}','height':'${imgwidth}'}));">Select</button>
            </td>
            <td class="preview">
                {{if thumbnail_url}}
                    <img src="${thumbnail_url}">
                {{/if}}
            </td>
            <td class="name">
                ${name}
            </td>
            <td class="size">${sizef}{{if imgheight > 0}} (${imgheight}&times;${imgwidth}){{/if}}</td>
            <td colspan="2"></td>
        {{/if}}
        <td class="delete">
            <button data-type="${delete_type}" data-url="${delete_url}">Delete</button>
        </td>
    </tr>
</script>
