<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css" id="theme" />
    <link rel="stylesheet" href="@Url.Content("~/Areas/Assets/styles/jquery.fileupload-ui.css")" />
    <link href="@Url.Content("~/content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/Assets/styles/style.css")" rel="stylesheet" type="text/css" />
    <script src="//code.jquery.com/jquery-1.7.1.min.js"></script>

</head>

<body style="padding:5px;">
    @RenderBody()
</body>
</html>