<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css" id="theme" />
    <link rel="stylesheet" href="@Url.Content("~/style/jquery.fileupload-ui.css")" />
    <link href="@Url.Content("~/style/Site.css")" rel="stylesheet" type="text/css" />
    <script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="@Url.Content("~/scripts/jquery.iframe-transport.js")></script>
    <script src="@Url.Content("~/scripts/jquery.fileupload.js")></script>
    <script src=@Url.Content("~/scripts/jquery.fileupload-ui.js")></script>
    <script src="@Url.Content("~/scripts/application.js")></script>

</head>

<body>
    @RenderBody()
</body>
</html>
